<div class="about_section">
    <section class="top_section">
        <h3 class="text-center">YouTube Video Downloader</h3>
        <p class="text-center">
            Y2mate allows you to convert & download video from YouTube, Facebook, Video, Dailymotion, Youku, etc. to Mp3, Mp4 in HD quality. Y2mate supports downloading all video formats such as: MP4, M4V, 3GP, WMV, FLV, MO, MP3, WEBM, etc. You can easily download for free thousands of videos from YouTube and other websites.
        </p>
    </section>
    <section class="row">
        <div class="col-6">
            <h6>Instructions</h6>
            <ol>
                <li>
                    Search by name or directly paste the link of video you want to convert
                </li>
                <li>
                    Click "Start" button to begin converting process
                </li>
                <li>
                    Select the video/audio format you want to download, then click "Download" button
                </li>
            </ol>
        </div>
        <div class="col-6">
            <h6>Features</h6>
            <ul>
                <li>
                    Unlimited downloads and always free
                </li>
                <li>
                    High-speed video converter
                </li>
                <li>
                    No registration required
                </li>
                <li>
                    Support downloading with all formats
                </li>
            </ul>
        </div>
    </section>
    <section class="row">
        <div class="col-sm">
            <div class="top_icons text-center">
                <i class="glyphicon glyphicon-gift"></i>
            </div>
            <div class="icons text-center">
                <h3>Free Download</h3>
            </div>
            <p class="text-center">
                Unlimited conversion and free download.
            </p>
        </div>
        <div class="col-sm">
            <div class="top_icons text-center">
                <i class="glyphicon glyphicon-film"></i>
            </div>
            <div class="icons text-center">
                <h3>Video & Audio</h3>
            </div>
            <p class="text-center">
                Directly Download Video & Music.
            </p>
        </div>
        <div class="col-sm">
            <div class="top_icons text-center">
                <i class="glyphicon glyphicon-saved"></i>
            </div>
            <div class="icons text-center">
                <h3>Easy Download</h3>
            </div>
            <p class="text-center">
                Fully compatible with all browsers.
            </p>
        </div>
    </section>
    <section class="tip_section">
        <p>
            <b>Tip:</b> Insert <b>"pp"</b> after the word "youtube" in the link to download videos and mp3 files from YouTube as a faster way.
        </p>
        <img src="assets/images/tip-download-youtube.jpg" alt="">
        <p>
            If you can’t directly download video to your PC, please follow the guidelines below:
        </p>
        <p>
            Step1: Select the format you want and click "Download" button.
        </p>
        <p>
            Step2: In new window, press "CTRL + S" to save video OR right click to video, then select "Save as Video".
        </p>
    </section>
</div>