<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <div class="img"><img src="assets/images/logo.png" alt="" width="100%" height="100%"></div> <span>y2mate.com</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">YouTube Downloader</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">YouTube Converter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">YouTube to MP3 Converter</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              English
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a href="#" class="dropdown-item">English</a></li>
                <li><a href="#" class="dropdown-item">Deutsch</a></li>
                <li><a href="#" class="dropdown-item">Español</a></li>
                <li><a href="#" class="dropdown-item">Français</a></li>
                <li><a href="#" class="dropdown-item">हिन्दी / Hindī</a></li>
                <li><a href="#" class="dropdown-item">Indonesian</a></li>
                <li><a href="#" class="dropdown-item">Italiano</a></li>
                <li><a href="#" class="dropdown-item">日本語</a></li>
                <li><a href="#" class="dropdown-item">한국어</a></li>
                <li><a href="#" class="dropdown-item">Myanmar (မြန်မာ)</a></li>
                <li><a href="#" class="dropdown-item">Malay</a></li>
                <li><a href="#" class="dropdown-item">Filipino</a></li>
                <li><a href="#" class="dropdown-item">Português</a></li>
                <li><a href="#" class="dropdown-item">Русский</a></li>
                <li><a href="#" class="dropdown-item">ไทย</a></li>
                <li><a href="#" class="dropdown-item">Türkçe</a></li>
                <li><a href="#" class="dropdown-item">Tiếng Việt</a></li>
                <li><a href="#" class="dropdown-item">简体中文</a></li>
                <li><a href="#" class="dropdown-item">繁體中文</a></li>
                <li><a href="#" class="dropdown-item">العربية</a></li>
                <li><a href="#" class="dropdown-item">বাঙালি</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>