.download_section{
    width: 70%;
    margin: auto;
}
.download_section form{
    padding: 20px 30px 10px 30px;
}
form .form-control{
    height: 45px;
    outline: none;
    border: none;
}
.card{
    height: 304.39px;
}
.card .card-body{
    display: flex;
    align-items: center;
}
.input-group{
    border: 3px solid #F34A53;
}
.btn-outline-secondary{
    border: none;
    border-radius: 0;
    background-color: #F34A53;
}
.input-group:hover{
    border-color: #C23A42;
}
.input-group:hover .btn-outline-secondary{
    background-color: #C23A42;
}
.card p{
    font-size: 14px;
}
.card p a{
    text-decoration: none;
    color: #C23A42;
}