<div class="card">
    <div class="card-body">
        <div class="download_section">
            <h2 class='text-center'>Download Video and Audio from YouTube</h2>
            <form (submit)="downLoadLink()">
                <div class="input-group mb-3">
                    <input type="text" [(ngModel)]="search" name="search" class="form-control shadow-none" placeholder="Search or paste link here..." aria-label="Search or paste link here..." aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary shadow-none text-light" type="submit" id="button-addon2">Start <i class="fa-solid fa-right-long"></i></button>
                  </div>
            </form>
            <p class='text-center'>By using our service you are accepting our <a href="#">Terms of Use.</a></p>
        </div>
    </div>
</div>